h1, h2, h3 {color: brown;
text-align: center;
}
img {width : 500px;}
body {color : rgba(27, 10, 71, 1);
  font-family: cursive;
  margin: 0px;
}
h2 {text-align: center;}
h1 {font-size: 3em;}
div {border: 1px brown solid;
width: 100vw;
height: 50vh;}
img {
  border-radius: 30px;
  display: flex;
  margin: 0 auto;
}
li {
  font-size: 1.5em;
}
#best{
  color: violet;
}
.contrast{
  background-color: orange;
  display: flex;
  justify-content: center;
  allign-items: center;
  flex-direction: column;
}
